image: centos:7

variables:
  CHEFDK_URL: "https://packages.chef.io/stable/el/7/chefdk-0.12.0-1.el7.x86_64.rpm"
  CHEFDK_FILE: "chefdk-0.12.0-1.el7.x86_64.rpm"
  CHEFDK_SHA256: "4a2a41f0b676fcbf1b778d37f491b0a74606b9dc6869deb05fff157473fa5a4a"

cache:
  key: "chef-rkt"
  paths:
  - .cache/

before_script:
  - yum install -y make
  - make ci-prepare-env

stages:
  - spec
  - test
  - deploy

lint:
  stage: spec
  script:
  - make lint

spec:
  stage: spec
  script:
  - make spec

kitchen:
  stage: test
  script:
  - make kitchen

release:
  stage: deploy
  script:
  - make deploy
  only:
  - /^v[[:digit:]]*\.[[:digit:]]*\.[[:digit:]]*$/
